.cartContainer{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: #fafafa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cartList{
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 400px;
}

.cartItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    transition: transform 0.2s ease;
}

.cartItem hover{
    transform: scale(1.02);
}

.cartImage{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}

.cartDetails{
    flex: 1;
}

.cartDetails h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.cartDetails p {
    margin: 5px 0 0 ;
    color: #555;
}

.tatal{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #333;
}
.removeBtn{
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.removeBtn:hover{
    background: #cc0000;
}



